body{

    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    /* background-color: #A5D6D1; /* light persian green */
    background-color: rgba(236,233,226,255);

    /*background-image: url('backgroundimage1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;*/
}

.error-message{

    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #F5FAFA; /* persian green (was seasalt) */
    color: #299F93; /* seasalt (was persian green) */


}

.intro{

    font-family: "Just Another Hand", system-ui;
    font-weight: 400;
    font-style: normal;
    
    color: #267b73;
    font-size: 3.85rem;
    
}

.logo-font{

    font-family: "Just Another Hand", system-ui;
    font-weight: 400;
    font-style: normal;
    
    color: #267b73;
    font-size: 3rem;
    
}


h1{
    font-weight: 600;
    font-family: "Just Another Hand", system-ui;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 3rem;
}

h2{
    font-weight: 400;
    font-family: "Just Another Hand", system-ui;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 2.5rem;
}

h3{
    font-weight: 350;
    font-family: "Just Another Hand", system-ui;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 2.2rem;
}

p{
    font-weight: 300;
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

button{

    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;


}

#main-wrapper{

    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 85%;
    /*outline: 2px solid #E12826;*/
    max-width: 100%;
    padding: 0 1rem;
    
}


#upper-wrapper{

    color: #299F93; /* seasalt (was persian green) */
    
    margin-left: 0;
   
    display: none;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3rem;
    
}


#timer{

    color: #299F93;/* seasalt (was persian green) */

    background-color: #F5FAFA; /* persian green (was seasalt) */
    
    text-align: center;
    justify-content: center;
    padding: 1rem;
    width: 3rem;
    display: none;
    border-radius: 15%;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: 2rem;
    /*box-shadow: 1px 1px 7px rgba(0,0 ,0 ,0.5 );*/
    

}

#timer.alert{
    color: red;

}


/*#main-wrapper.blur-background{

    filter: blur(5px);
}*/

#quiz-box{
    background: #F5FAFA; /* seasalt (was persian green) */
    padding: clamp(1rem,4vw,3.12rem);
    border-radius: 4%;
    box-sizing: border-box;
    width: min(90vw, 31.25rem);    
     
    height: 27rem;
    display: none; 
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 2rem; 
    align-content: center;
    text-align: center;
    color: #299F93; /* persian green (was seasalt) */
    /*box-shadow: 1px 1px 7px rgba(0,0 ,0 ,0.5 );*/
}

#question{
    
    font-style: normal;
    color: #238a80;
    margin-bottom: 2rem;
    text-align:left;
    width: 100%;
    box-sizing: border-box;
    /*outline:2px solid #E12826;*/
    

    

}

#options{
   
    
    padding: 20px;
    cursor: pointer;
    color: #238a80; 
    display:flex;
    width: 100%;
    transition: background-color 0.2s ease;
    font-style: normal;
    text-align: left;
    margin-left:0;
    align-items:center;
    gap: 10px;
    box-sizing: border-box;

    /*outline:2px solid #E12826;*/
    
    

}

#retry-btn{

    color:#F5FAFA; /* seasalt (was persian green) */
    background-color: #299F93; /* persian green (was seasalt) */
    display: none;
    border: none;
    width: 3.43rem;
    padding: 0.6rem;
    border-radius: 10%;
    text-align: center;

}




#options button:hover{
    background-color:#F5FAFA; /* seasalt (was persian green) */
}

#result{
    
    
    font-weight: bold;
    display: block;
    background-color: #299F93; /* persian green (was seasalt) */
    margin: 20px;
    width:250px;
    text-align: center;
    box-sizing: border-box;
    margin: auto;
    
    
}

#nxt-btn{
    
    display: flex;
    justify-content: flex-end;
    font-style: normal;
    padding: 0.6rem;
    border: none;
    margin-bottom: 0;
    margin-top: 2rem;
    background-color:  #299F93; /* persian green (was seasalt) */
    width: 3.43rem;
    text-align: center;
    border-radius: 10%;
    margin-left: auto;
    color: #F5FAFA;
}

#prev-btn{

    
    display: flex;
    justify-content: flex-end;
    font-style: normal;
    padding: 0.6rem;
    border: none;
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 2rem;
    background-color:  #299F93; /* persian green (was seasalt) */
    width: 3.43rem;
    text-align: center;
    border-radius: 10%; 
    color: #F5FAFA;  
}

#finish-btn{

    
    font-style: normal;
    display: flex;
    justify-content: flex-end;
    border: none;
    margin-left: auto;
    margin-top: 2rem;
    background-color:  #299F93; /* persian green (was seasalt) */
    padding: 0.6rem;
    width: 3.43rem;
    text-align: center;
    border-radius: 10%;
    color: #F5FAFA;
    
}

#clear-btn{
    display: flex;
    background-color:#299F93; /* persian green (was seasalt) */
    border-radius: 10%;
    border: none;
    margin-left: 0;
    margin-top: 2rem;
    width:3.43rem;
    padding: 0.6rem;
    text-align: center;
    flex-direction: row;
    color: #F5FAFA;
    
    /*outline: 2px solid #E12826;*/

}

.clear-container{

    /*outline: 2px solid #E12826;*/
    margin-left: 0;
    width:100%;
    max-width:fit-content;
    box-sizing: border-box;
    

}


.nav-buttons{

    display:flex;
    justify-content: space-between;
    flex-direction: row;
    width: 35%;
    /*outline:2px solid #26e18a;*/
    box-sizing: border-box;
    

}

.all-buttons{
    display: flex;

    /*outline: 2px solid #b8e126;*/
    flex-direction: row;
    justify-content: space-between;
    
    width:100%;
    max-width: 31.25rem;
    box-sizing: border-box;
}



.viewscorebtn{

    display: block;
    
    font-style: normal;
    border: none;
    background-color:  #299F93; /* persian green (was seasalt) */
    padding: 0.7rem;
    width: fit-content;
    margin: auto;
    border-radius: 11%;
    color: #F5FAFA;
}
#attempt-btn{

    
    display: flex;
    justify-content: center;
    font-style: normal;
    padding: 0.7rem;
    color: #F5FAFA;  
    background-color:  #299F93; /* persian green (was seasalt) */
    width: 4.7rem;
    text-align: center;
    margin: auto;
    border: none;
    border-radius: 10%;
    margin-top: 1rem;
    
}

#welcome-page{
    background: #F5FAFA; /* seasalt (was persian green) */
    padding: 2.2rem;
    border-radius: 1.5%;
    box-sizing: border-box;
    width: fit-content; 
    
    display: flex; 
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin:auto;
    text-align: center;
    color: #299F93; /* persian green (was seasalt) */
    /*box-shadow: 1px 1px 7px rgba(0,0 ,0 ,0.5 );*/
}

.about-page{

    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #2b9186;
    
}

.time-up{

    display: none;
    background: #F5FAFA; /* seasalt (was persian green) */
    margin: auto;
    padding: 5rem;
    border-radius: 5%;
    width:20rem;
    height: 100%;
    max-height: 19rem;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    color: #299F93; /* persian green (was seasalt) */
}

#inbox{

    background: #F5FAFA; /* seasalt (was persian green) */
    display: none;
    box-sizing: border-box;
    padding: 1.5rem;
    border-radius: 3%;
    margin-left: 2rem;
    margin-top: auto;
    flex-wrap: wrap;
    width: 100%;
    min-width: 30rem;
    max-width: 33rem;
    height: 100%;
    max-height: 37rem;
    /*box-shadow: 1px 1px 7px rgba(0,0 ,0 ,0.5 );*/
    

}

#confirm-finish{

    display: none;
    flex-direction: column;
    justify-content: center;
    color: #238a80;
    background-color: #F5FAFA; /* seasalt (was persian green) */
    /*outline: 3px solid #299F93;*/
    border-radius: 5%;
    width: 25.5rem;
    height:12rem;
    box-sizing: border-box;
    padding: 3rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /*(box-shadow: 1px 1px 7px rgba(0,0 ,0 ,0.5 );*/
    box-shadow: 1px 1px 7px rgba(0,0 ,0 ,0.5 );
    
    
}

#contain-btns{

    display: flex;
    flex-direction: row;
    margin: auto;
    width: fit-content;
    margin-top:3rem;
    gap:3rem;
    
    
}

#yes-btn{

    display: flex;
    color: #F5FAFA; /* seasalt (was persian green) */
    background-color: red;
    width:3.43rem;
    padding: 0.6rem;
    border-radius: 10%;
    border: none;
    justify-content: center;


}

#no-btn{

    display: flex;
    border: none;
    color: #F5FAFA; /* seasalt (was persian green) */
    background-color: #299F93; /* persian green (was seasalt) */
    border-radius: 10%;
    justify-content: center;
    width: 3.43rem;
    padding: 0.6rem;

}


#question-box{

    background: #F5FAFA; /* seasalt (was persian green) */
    display: none;
    box-sizing: border-box;
    padding: 0.9rem;
    gap: 0.5rem;
    flex-wrap: wrap;
    max-width: 100%;
    
    
}


.label-options{


    margin-top: 1rem;
    gap:1rem;
    /*outline:2px solid #E12826;*/
    
}

.radio-button{

    color: #F5FAFA; /* seasalt (was persian green) */
    background-color: #F5FAFA; /* seasalt (was persian green) */
    
}


.quenum{

    
    background-color: #A5D6D1; /* light persian green */
    text-align: center;
    padding: 1rem;
   
    
    color: #175d56; /* persian green text */
    width: 3rem;
    height: 3rem;
    border: none;
    border-radius: 10%;
    
}

#active{
    color: #238a80;
}

.attempted{

    background-color: greenyellow;
}




.active-question{

    
    
    background-color: #299F93; /* persian green instead of fire red */
    
   
    color: #F5FAFA;
    text-align: center;
    
    
    
    
    
    

    
}









#completed-box{
    background: #F5FAFA; /* seasalt (was persian green) */
    padding: 3.2rem;
    border-radius: 5%;
    box-sizing: border-box;
    max-width: 23.25rem;  
    display: none; 
    flex-direction: column;
    justify-content: center;
    
   
    align-content: center;
    align-self: center;
    margin: auto;
    
    text-align: center;
    color: #299F93; /* persian green (was seasalt) */
    /*box-shadow: 1px 1px 7px rgba(0,0 ,0 ,0.5 );*/
   
}

.quiz-complete{

    font-family: "Just Another Hand", system-ui;
}

@keyframes spin{

       
    0% {
        
        transform:translate(-50%,-50%) rotate(0deg);
       
        
    }

    100%{

        
        
        transform: translate(-50%,-50%) rotate(360deg);
    }

}

.spinner{

    
    border-radius: 50%;
    display: none;
    border: 5px solid  #267b73;
    border-top: 5px solid transparent;
    width: 3rem;
    height: 3rem;
    min-width:2.5rem;
    min-height: 2.5rem;
    max-width: 5rem;
    max-height:5rem;
    position: fixed;
    left: 50%;
    top:50%;  
    transform-origin: center;
    animation: spin 1s linear infinite;  
}


#question, #options, .quenum, button, #timer,#inbox{

        font-weight: 490;
    }

@keyframes fadeIn{

    from{
        opacity: 0;
        
    }

    to{
        opacity: 1;
    }
}




.fade-in{

    animation: fadeIn 2s ease forwards;
}


